@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/JGroot/ViciousMockeryInsultGenerator" target="_blank">GitHub Repository</a>
    </div>

    <div class="content px-4">
        @Body
        <footer>
            <span><a href="https://twitter.com/AngryZoot" class="fa fa-twitter"></a></span>
            <span><a href="https://github.com/JGroot" class="fa fa-github"></a></span>
            <span><a href="https://www.linkedin.com/in/jessica-groot-63056076/" class="fa fa-linkedin"></a></span>
        </footer>
    </div>
</div>
